#arrow {
  @include linear-gradient(233deg, #f100a0, #23b9d6);
  position: relative;
  height: rem(1000px);

  .mask {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: rem(30px);
    top: 0;
  }

  .dot {
    display: block;
    width: rem(4px);
    height: rem(4px);
    border-radius: rem(4px);
    background: #fff;
    margin: rem(18px) auto;
  }

  .words-count {
    position: absolute;
    z-index: 3;
    top: rem(50px);
    width: 100%;
  }

  .count, .words {
    color: #fff;
  }
  .count {
    font-size: rem(24px);
  }
  .words {
    margin-top: rem(-8px);
    font-size: rem(12px);
  }

  &:after {
    position: absolute;
    z-index: 1;
    content: " ";
    height: 100%;
    width: 50%;
    top: 0;
    right: 0;
    background-color: rgba(55, 55, 55, 0.11);
  }
}

#top-translators {
  h2 {
    padding-bottom: 0;
    margin-bottom: rem(4px);
  }
  .date {
    margin-bottom: rem(23px);
    color: #797979;
    letter-spacing: rem(.2px);
    font-size: rem(14px);

    strong {
      font-weight: 600;
    }
  }
}

$color-pionner: #df0067;
$color-explorer: #280f44;
$color-adventurer: #23b9d6;
$color-backpacker: #fbbb21;
$color-traveler: #b29cd8;

.contributor {
  .avatar {
    > img {
      width: rem(50px);
      height: rem(50px);
      border-radius: rem(50px);
      box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
    }
  }
  .details {
    .name {
      font-weight: bold;
    }

    .position {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: rem(16px);
      margin-top: rem(10px);
    }

    .info, .username {
      a {
        color: #000;
        text-decoration: underline;
      }
    }
  }
}

.simple-contributor {
  text-align: center;
  font-size: rem(13px);
  margin-top: rem(38px);

  .avatar {
    margin-bottom: rem(7px);
  }

  .details {
    .fixed-height {
      height: rem(64px);
    }
    .name {
      font-size: rem(15px);
    }
    .position {
      font-size: rem(22px);
    }
  }
}

.top-contributor {
  position: relative;
  margin-top: rem(74px);

  &:after {
    clear: both;
    display: block;
    content: " ";
    height: 0;
  }

  .flag {
    position: relative;
    width: rem(18px);
    margin: {
      top: rem(-2px);
      left: rem(4px);
      right: rem(4px);
    }
  }

  &:first-child {
    margin-top: rem(35px);
  }

  .avatar {
    float: right;
    margin-left: rem(20px);
    margin-right: rem(10px);
    padding-top: rem(48px);
  }

  .details {
    float: right;
    text-align: right;

    .position {
      color: #df0067;
      font-size: rem(24px);
    }
    .name {
      font-size: rem(14px);
      margin-top: rem(-8px);
    }
    .info {
      font-size: rem(14px);
    }

    .links {
      margin-top: rem(10px);

      .icon {
        margin-left: rem(9px);

        &.icon-link {
          position: relative;
          top: rem(3px);
          left: rem(3px);
          margin-top: rem(-6px);
        }
      }
    }
  }

  .dots {
    position: absolute;
    top: rem(60px);
    right: rem(-26px);

    .dot {
      display: inline-block;
      width: rem(5px);
      height: rem(5px);
      border-radius: rem(5px);
      background: #565656;
      margin: 0 rem(2.5px);
    }
  }
}

.right-column {
  > .top-contributor {

    &:first-child {
      margin-top: rem(118px);
    }

    .avatar {
      float: left;
      margin-left: rem(10px);
      margin-right: rem(20px);
    }
    .details {
      float: left;
      text-align: left;
    }
    .dots {
      left: rem(-26px);
    }
    .links {
      .icon {
        margin: {
          left: 0;
          right: rem(9px);
        }
      }
    }
  }
}

#all-translators {
  .title {
    font-family: 'Montserrat', sans-serif;
    height: rem(34px);
    line-height: rem(34px);
    vertical-align: middle;
    font-size: rem(16px);
    text-align: center;
    color: #fff;
    box-shadow: 0 rem(2px) rem(5px) 0 rgba(0, 0, 0, 0.25);
    margin-bottom: rem(10px);
    margin-top: rem(30px);
  }
  .step {
    &:first-child {
      .title {
        margin-top: 0;
      }
    }
  }

  &:after {
    margin-top: rem(30px);
  }

  .pioneer { background: $color-pionner; .position { color: $color-pionner; } }
  .explorer { background: $color-explorer; .position { color: $color-explorer; } }
  .adventurer { background: $color-adventurer; .position { color: $color-adventurer; } }
  .backpacker { background: $color-backpacker; .position { color: $color-backpacker; } }
  .traveler { background: $color-traveler; .position { color: $color-traveler; } }
}
