.star {
  background-image: url(resources/arrow.png);
}

.btn {
  margin-top: 25px;

  background-color: #000000;
  border: 0;
  border-radius: 0;
  color: #ffffff;
  display: inline-block;
  font-weight: 700;
  padding: 1rem 3rem;
  position: relative;
  text-transform: uppercase;
  transition: none;

  &:after {
    padding-left: .3em;
    content: '►';
    font-size: .8em;
  }

  &:hover {
    color: #ffffff;
  }

  &.large-padding {
    padding: {
      left: 2rem;
      right: 2rem;
    }
  }
}

.white-text {
  color: #fff;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: rem(0.3px);
}

.white-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: white;
  letter-spacing: 0.2px;
}

.loader {
  padding: 20px;
  color: $primary;
}
