footer {
  padding-bottom: 95px;
  font-family: 'IBM Plex Sans', Arial, sans-serif;

  .black-title {
    margin-top: 45px;
    line-height: 30px;
    font-family: Prestafont, sans-serif;
    font-size: 28px;
    max-width: 200px;
  }

  .black-text {
    margin-top: 18px;
    font-weight: bold;
  }

  .share,
  .build-link {
    font-family: 'IBM Plex Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
  }

  .share {
    > span {
      margin-right: 10px;
    }

    > a {
      margin: {
        left: 3px;
        right: 3px;
      }
    }
  }
}


.footer-list a {
  display: block;
  padding: 5px 0;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  margin: 8px 12px 8px 0;
  text-decoration: none;

  &:after {
    padding-left: .3em;
    content: '►';
    font-size: .8em;
  }
}
