footer {
  padding-bottom: 95px;

  .white-title {
    margin-top: 45px;
    line-height: 30px;
  }
  .white-text {
    margin-top: 18px;
  }
  .btn {
    margin-top: 25px;

    &.large-padding {
      padding: {
        left: 2rem;
        right: 2rem;
      }
    }
  }

  .share,
  .build-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
  }

  .share {
    > span {
      margin-right: 10px;
    }

    > a {
      margin: {
        left: 3px;
        right: 3px;
      }
    }
  }

  .build-link {
    text-decoration: underline;

    &:hover,
    &:visited,
    &:active {
      color: #fff;
    }
  }

  #badge {
    position: relative;

    > img {
      position: absolute;
      left: 50%;
      margin-left: -95px;
      top: 75px;
      z-index: 1;
    }

    > hr {
      margin: {
        top: 190px;
        bottom: 105px;
      }
      opacity: 0.7;
      border-top: solid 1px #ffffff;
    }
  }
}
