h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.56);
  font-size: 36px;
  margin: {
    top: 114px;
    bottom: 0;
  }
}

h2, h3, h4 {
  letter-spacing: 0.2px;
  padding: 42px 0;

  &.small-margin {
    padding: 30px 0;
  }
}

h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 22px;
}
