@import '~bourbon/core/_bourbon.scss';
@import '~bootstrap/scss/bootstrap.scss';

$grid-columns: 10;

$brand-primary: #df0067;
$brand-info: #23b9d6;
$primary: #ffffff;

$container-max-widths: (
  sm: rem(780px),
  md: rem(782px),
  lg: rem(784px),
  xl: rem(786px)
);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background: $primary;
  color: #000;
}

@font-face {
  font-family: "Prestafont";
  src: url("resources/Prestafont-Regular.woff2") format("woff"),
}

@import 'titles';
@import 'header';
@import 'footer';
@import 'components';

.main-content {
  background-color: #ffffff;
}

@import 'section_1';
@import 'transition';
